// variables for common
:root {
  --timer: 0.2s;
  --common: #0029af;
  --hover-color: #c3e3f4;
  --body: #f4f8f9;
  --white: #fff;
  --zui-color-gs-120: #07090d;
  --gray-disabled: #828d9e;
  --gray-box-shadow-3: rgb(0 0 0 / 13%);
  --gray-common: #c1cbd9;
}
