//variables for components
:root {
  --gray-border: #e8e8e8;
  --unknown: #626c7a;
  --gray-1: #626c7a;
  --gray-2: #b5bcc8;
  --gray-3: #dce3e9;
  --gray-4: #f6f8fa;
  --gray-5: #778592;
  --gray-6: rgb(0 0 0 / 4%);
  --gray-7: #c2cdd6;
  --gray-8: #f5f5f5;
  --gray-10: rgb(0 0 0 / 25%);
  --gray-text: #606a76;
  --gray-background: #f8fafc;
  --gray-box-shadow: rgb(227 228 230 / 59%);
  --gray-box-shadow-1: rgb(0 0 0 / 13%);
  --gray-box-shadow-2: rgb(106 176 226 / 20%);
  --gray-box-shadow-3: rgb(0 0 0 / 13%);
  --blue-selected: #0050f2;
  --blue-1: #5c9dff;
  --blue-2: #a6c9ff;
  --blue-3: #5db3ff;
  --red: #e04747;
  --red-highlight: #f50;
  --danger: #e04747;
  --green-1: #30bb4c;
  --success: #30bb4c;
  --warning: #efb92b;
  --blue-btn-hover: #1e48bd;
  --blue-check-end: #001558;
  --white: #fff;
  --dark: #000;
  --dark-font: rgb(0 0 0 / 88%);
  --gray-info: #828d9e;
  --gray-divider: #555e6b;
  --gray-header: #353d45;
  --gray-menu: #f2f5f8;
  --gray-shadow: #c1c1c1;
  --white-close: #dde3ed;
  --dark-start-close: rgb(7 9 13 / 30%);
  --dark-end: #07090d;
  --dark-info: #32373e;
  --dark-mune: #606a76;
  --dark-shadow: rgb(0 0 0 / 40%);
  --yellow-colloct: #ffb340;
  --blue-divder: #0050f2;
  --blue-slider: #91d5ff;
  --white-start-close: rgb(130 141 158 / 10%);
  --white-start-end: rgb(130 141 158 / 30%);
  --white-shadow: rgb(0 0 0 / 10%);
  --blue-common: #0072ef;
  --blue-hover: #101d48;
  --blue-desc: #00dcf2;
  --blue-background: #e2f1fd;
  --blue-user-chat: #72b3f5;
  --blue-light: #f6f8fa;
  --blue-mune: #5db3ff;
}
